<div class="home-container" id="homeContainer">
    <div class="home-find">
        <div class="home-filter">
            <select id="brandFilter">
                <option value="">All Brands</option>
                <% brands.forEach((brand)=> { %>
                    <option value="<%= brand._id %>">
                        <%= brand.brandName %>
                    </option>
                    <% }) %>
            </select>
        </div>
        <div class="home-search">
            <input type="text" id="searchInput" placeholder="Search for watches...">
            <button id="searchButton">Search</button>
        </div>
    </div>
    <% watches.map((watch)=> {%>
        <div class="home-watch-item %>">
            <div class="home-watch-crown">
                <% if (watch.automatic) { %>
                    <img src="assets/crown.png">
                <% } %>
            </div>
            <div class="home-watch-item-img">
                <img src="assets/watch/<%= watch.image%>">
            </div>
            <p>
                <%= watch.watchName.toUpperCase()%>
            </p>
            <div class="home-watch-item-brand">
                <% brands.forEach((brand)=> {
                    if(String(brand._id) === String(watch.brand)){
                    %>
                    <p class="brand-id" style="display: none;">
                        <%= brand._id %>
                    </p>
                    <p>
                        <%= brand.brandName%>
                    </p>
                    <% } }) %>
            </div>
            <div class="home-watch-detail-btn">
                <a href="/detail-watch/<%= watch._id%>" role="button">Detail</a>
            </div>
        </div>
        <%}) %>
</div>

<script>
    // chỉ cần chỉnh height: fit-content với min-height: 100vh bên css là được

    // function adjustHomeContainerHeight() {
    //     const homeContainer = document.getElementById('homeContainer');
    //     const visibleWatchItems = document.querySelectorAll('.home-watch-item:not([style*="display: none"]), .home-watch-item-normal:not([style*="display: none"])');

    //     if (visibleWatchItems.length === 0) {
    //         homeContainer.style.height = '100vh';
    //     } else {
    //         homeContainer.style.height = 'fit-content';
    //     }
    // }


    document.getElementById('searchButton').addEventListener('click', function () {
        const searchValue = document.getElementById('searchInput').value.toLowerCase();
        const watchItems = document.querySelectorAll('.home-watch-item, .home-watch-item-normal');

        watchItems.forEach(item => {
            const watchName = item.querySelector('p').textContent.toLowerCase();
            if (watchName.includes(searchValue)) {
                item.style.display = '';
            } else {
                item.style.display = 'none';
            }
        });
        // adjustHomeContainerHeight();
    });

    document.getElementById('brandFilter').addEventListener('change', function () {
        const selectedBrandId = this.value; // Lấy giá trị id của thương hiệu đã chọn

        const watchItems = document.querySelectorAll('.home-watch-item, .home-watch-item-normal');

        watchItems.forEach(item => {
            const brandIdElement = item.querySelector('.brand-id');
            const itemBrandId = brandIdElement.textContent.trim();

            if (!selectedBrandId || selectedBrandId === itemBrandId) {
                item.style.display = '';
            } else {
                item.style.display = 'none';
            }
        });
        // adjustHomeContainerHeight();
    });

    // Điều chỉnh chiều cao của home-container khi tải trang
    // adjustHomeContainerHeight();

</script>